@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: 'Roboto', Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    overflow-x: hidden;
}

main {
    flex: 1;
    padding: 2%;
}

.course-container {
    width: 800px;
}

input {
    width: 300px;
    margin-bottom: 20px;
}

table {
    width: 100%;
    text-align: left;
}

table td {
    border-bottom: 1px solid lightgrey;
    padding-top: 10px;
}

table th {
    text-decoration: underline;
    cursor: pointer;
}