<main>
    <div class="course-container">
        <h2>Webbutveckling - Ramschema</h2>
        <label for="filter">Filtrera:</label><br>
        <input type="text" id="filter" placeholder="Filtrera på kurskod eller kursnamn" [(ngModel)]="filterValue" (input)="applyFilter()"> <!--Tvåvägs data-bindning-->
        <table>
            <thead>
                <tr>
                    <th>Kurskod</th>
                    <th>Namn</th>
                    <th>Progression</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let course of filteredCourses" > <!--Visa filtrerade kurser-->
                    <td>{{ course.code }}</td>
                    <td>{{ course.coursename }}</td>
                    <td>{{ course.progression }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</main>